.card {
  background-color: black;
  color: white;
  padding: 2em;
  height: 800px;
  width: 300px;
}

.cta {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 30px;
}

.cta-button {
  background-color: whitesmoke;
  height: 30px;
  text-align: center;
  font-size: 0.7rem;
  width: 45%;
}

h3 {
  margin: 0px 0px 0px;
}

p {
  margin: 0px 0px 20px;
}

.read-the-docs {
  color: #888;
}

.linkedin {
  height: 20px;
}
